<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{template.html}">
<head>
    <title>Menu Principal</title>
</head>
<body>
<div layout:fragment="conteudo">
    <h1>Menu Principal</h1>
    <br><br><br>
    <a href="/usuarios/formulario">Cadastrar Usuário</a>
    <br><br><br>
    <a href="/usuarios/lista">Lista de Usuários</a>
    <br><br><br>
    <a href="/produtos/formulario">Cadastrar Produtos</a>
    <br><br><br>
    <a href="/produtos/lista">Lista de Produtos</a>
    <br><br><br>
    <a href="/fichas/formulario">Cadastrar Ficha</a>
    <br><br><br>
    <a href="/fichas/lista">Lista de Fichas</a>
    <br><br><br>
    <a href="/fichas/buscarNomeUsuario">Buscar Ficha por Nome de Usuário</a>
    <br><br><br>
    <a href="/fichas/buscarNomeProduto">Buscar Ficha por Nome do Produto</a>
    <br><br><br>
    <a href="/fichas/buscarDataFicha">Buscar Ficha por Data</a>

</div>
</body>
</html>