<!DOCTYPE html>
<html lang="pt-BR"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{template.html}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Cadastre o Produto</title>
    <style>

    </style>
</head>
<body>
<div layout:fragment="conteudo">
    <h1>Cadastre o Produto</h1>

    <form th:action="@{'/produtos/formulario'}" method="POST">
        <input type="hidden" name="_method" value="put" th:if="${produto!=null}">
        <input type="hidden" name="id" th:value="${produto?.id}">

        <div>
            <label for="nome">Nome do Produto:</label>
            <input type="text" id="nome" name="nome" th:value="${produto?.nome}" required>

        </div>

        <div>
            <label for="classe">Classe do Produto:</label>
            <input type="text" id="classe" name="classe" th:value="${produto?.classe}" required>

        </div>

        <input type="submit" th:value="${produto == null ? 'Cadastrar Produto' : 'Atualizar Produto'}">
    </form>

    <a href="/menu">Voltar para o início</a>
</div>


</body>
</html>
